@model CustomerFormViewModel

<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
    <label asp-for="BusinessName" class="control-label"></label>
    <input asp-for="BusinessName" class="form-control" />
    <span asp-validation-for="BusinessName" class="text-danger"></span>
    <label asp-for="BuildingName" class="control-label"></label>
    <input asp-for="BuildingName" class="form-control" />
    <span asp-validation-for="BuildingName" class="text-danger"></span>
    <label asp-for="NumberAndStreet" class="control-label"></label>
    <input asp-for="NumberAndStreet" class="form-control" />
    <span asp-validation-for="NumberAndStreet" class="text-danger"></span>
    <label asp-for="LocalityName" class="control-label"></label>
    <input asp-for="LocalityName" class="form-control" />
    <span asp-validation-for="LocalityName" class="text-danger"></span>
    <label asp-for="TownOrCity" class="control-label"></label>
    <input asp-for="TownOrCity" class="form-control" />
    <span asp-validation-for="TownOrCity" class="text-danger"></span>
    <label asp-for="County" class="control-label"></label>
    <input asp-for="County" class="form-control" />
    <span asp-validation-for="County" class="text-danger"></span>
    <label asp-for="PostCode" class="control-label"></label>
    <input asp-for="PostCode" class="form-control" />
    <span asp-validation-for="PostCode" class="text-danger"></span>
</div>